* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --black-color-dark: #0d1b2a;
    --black-color-mid: #1b263b;
    --black-color-light: #778da9;
}

html {
    font-size: 10px;
}

input {
    outline: none;
}

body {
    background-color: #f6f8fa;
    font-family: sans-serif;
    margin: 2rem;
}


/* === Btn Solid */

.btn-solid {
    display: block;
    background: linear-gradient(270deg, var(--black-color-dark) 50%, var(--black-color-light));
    color: #fff;
    border: none;
    padding: 1rem 3rem;
    border-radius: 2rem;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: .2s ease;
    width: 100%;
    font-size: 20px;
}

.btn-solid--w100 {
    width: 100%;
}

.btn-solid:hover {
    box-shadow: 0 4px 4px rgba(77, 77, 77, 0.26);
    letter-spacing: 2px;
}


/* === Btn Regular */

.btn-regular {
    display: block;
    border: 2px solid var(--black-color-mid);
    background-color: transparent;
    padding: 0.8rem 3rem;
    border-radius: 2rem;
    color: var(--black-color-mid);
    cursor: pointer;
    transition: 0.2s ease;
}

.btn-regular--w100 {
    width: 100%;
}

.btn-regular:hover {
    box-shadow: 0 4px 4px rgba(77, 77, 77, 0.26);
    letter-spacing: 2px;
}


/* === Modal Form */

.container-modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(53, 53, 53, 0.23);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    visibility: hidden;
    opacity: 0;
    transition: 0.2s linear;
}

.container-modal.show {
    opacity: 1;
    visibility: visible;
}

.modal-form {
    width: 60%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem 6rem;
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1rem 1rem .4rem rgba(50, 50, 50, 0.04);
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
}

.modal-form.show {
    visibility: visible;
    opacity: 1;
    animation: modal_animation 0.3s linear;
}

@keyframes modal_animation {
    from {
        left: 5%;
        top: 30%;
        transform: translate(-50%, -100%) skew(20deg, -30deg) scale(0.1);
    }
    to {
        transform: translate(-50%, -50%);
    }
}

.modal-form__close {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--black-color-mid);
    width: 3rem;
    height: 3rem;
    color: #fff;
    border-radius: 0 2rem 0 1rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal-form__close:hover {
    background-color: var(--black-color-dark);
}


/* --- Modal Cover */

.modal-form__cover {
    width: 60%;
    padding-left: 10rem;
    transition: .2s linear;
}

.modal-form__cover-pic {
    background-image: url("./img/cover.jpg");
    height: 40rem;
    background-position: center;
    background-size: cover;
    border-radius: 1.5rem;
    position: relative;
}

.modal-form__cover-desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: bold;
    background-color: rgba(177, 177, 177, 0.26);
    backdrop-filter: blur(6px);
    padding: 2rem;
    width: 85%;
    color: #fff;
    border: 1px solid #9c9c9c;
    border-radius: 1rem;
    line-height: 3rem;
}


/* --- Modal content */

.modal-form__content {
    width: 40%;
}

.modal-form__title {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--black-color-dark);
    margin-bottom: 0.6rem;
    display: block;
}

.modal-form__desc {
    font-size: 1.4rem;
    color: var(--black-color-light);
}

.modal-form__head {
    margin-bottom: 4rem;
}

.modal-form__group {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.modal-form__label label {
    font-size: 1.3rem;
    color: var(--black-color-mid);
    font-weight: bold;
    margin-bottom: 0.7rem;
}

.modal-form__input input {
    font-size: 1.4rem;
    border-radius: 2rem;
    padding: 0.7rem 1rem;
    border: 2px solid #f4f4f6;
    transition: border 0.2s linear;
}

.modal-form__input input:focus {
    border-color: var(--black-color-light);
}

.checkboox {
    display: flex;
    float: right;
    margin-top: 6px;
}

.check {
    margin: 5px;
    padding: 10px;
}

#country {
    font-size: 1.4rem;
    border-radius: 2rem;
    padding: 0.7rem 1rem;
    border: 2px solid #f4f4f6;
    transition: border 0.2s linear;
}


/* === Responsive */

@media (max-width:992px) {
    html {
        font-size: 9px;
    }
    .modal-form {
        flex-direction: column-reverse;
        padding: 3rem;
        width: 70%;
    }
    .modal-form__cover {
        width: 100%;
        padding: 0;
    }
    .modal-form__cover-pic {
        height: 18rem;
    }
    .modal-form__content {
        width: 100%;
        margin-top: 2rem;
    }
}

@media (max-width:767px) {
    .modal-form {
        width: 100%;
        border-radius: 2rem 2rem 0 0;
        top: auto;
        bottom: 0;
        left: 0;
        transform: translate(0, 0);
    }
    @keyframes modal_animation {
        from {
            left: 5%;
            top: 30%;
            transform: translate(0, 100%) skew(0) scale(1);
        }
        to {
            transform: translate(0, 0);
        }
    }
}

.first {
    width: 60%;
    padding-left: 10rem;
    transition: .2s linear;
}

.first_cover-pic {
    background-image: url("./img/1.webp");
    height: 100rem;
    background-position: center;
    background-size: cover;
    border-radius: 1.5rem;
    position: relative;
}

.first_cover-desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: bold;
    background-color: rgba(177, 177, 177, 0.26);
    backdrop-filter: blur(6px);
    padding: 2rem;
    width: 85%;
    color: #fff;
    border: 1px solid #9c9c9c;
    border-radius: 1rem;
    line-height: 3rem;
}